.viewMoreBtn {
    border-radius: 3px!important;
    font-family: "Open Sans", sans-serif;
    background: #fb5557;
    border-color: #fb5557;
    color: #fff!important;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 5px 12px;
    font-weight: 600;
    margin-top: -5px;
    transition: 0.3s all ease-out;
}

.viewMoreBtn:hover {
    background: #01b070;
    border-color: #01b070;
    color: #fff!important;
}

.viewMoreBtn i {
    margin-right: 3px;
}

.scrollTable {
    min-height: 325px !important;
    max-height: 325px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.spinner {
    display: inline-block;
    border-radius: 50px;
    border-style: solid;
    border-bottom-color: #3b5641;
    border-top-color: #67b3a9;
    border-left-color: #df7950;
    border-right-color: #decb3f;
    text-align: center;
    vertical-align: middle;
    position: relative;
    animation: rotate360 1s linear infinite;
    -webkit-animation: rotate360 1s linear infinite;
    border-width: 4px;
    width: 24px;
    height: 24px;
}

.masterHeading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 500;
    line-height: 0.6 !important;
}

.spantag {
    color: #777;
}

#buttons {
    margin-top: 10px;
}

.modal-content {
    height: 445px;
    margin: auto;
    border: 1px;
}

.pageing {
    margin-right: 20px !important;
}

.scrollpaging {
    max-height: 90px;
    min-width: 1130px !important;
    max-width: 1130px !important;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: -10px;
}

.modal-backdrop {
    display: none;
}

.modal-open .modal {
    width: 300px;
    margin: 0 auto;
}
.modalHead {
    color: rgba(42, 136, 214, 0.91) !important;
}