<!--Third Party-->
<script src="/SiteAssets/RnR/angular.js"></script>

<!--Application-->
<script src="/SiteAssets/RnR/spcrud.js"></script>
<link rel="stylesheet" href="/SiteAssets/RnR/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/SiteAssets/RnR/css/style.css"></link>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="/SiteAssets/RnR/Redeem/Redeemption/redeemption.js"></script>
<link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeemption/redeemption.css"></link>

<!--Main-->
<div ng-app="redeemApp" class="appmodel" >
    <div ng-controller="redeemCtl">
			<div class="spinner" ng-hide="loaded" ></div>
			<span ng-hide="loaded">
				Loading.....
			</span>
		<div ng-cloak="" ng-show="loaded">
		<section class="topSection">
			<div class="container">
				<div class="mainBox">
					<div class="row">
						<div class="col-md-12">
							<div class="col-sm-1" >
								<span>
									<img class="heightMedal" src="/SiteAssets/RnR/img/medal.png" />		
								</span>
							</div>
							<div class="col-sm-4">
								<h2 class="alignMedal">{{empMasterDetails[0].Balance?empMasterDetails[0].Balance:'0'}} </h2>
								<label class="alignTop">Balanced Points</label>	
							</div>
							<span class="dropdownalign" ng-if="productDetails.length > 0">
						<!--<a  class="btn btn-xs yellow-soft" href="/SitePages/Redeem%20History.aspx" title="View Redeem History">
							<i class="fa fa-history"></i> 
						</a>-->
						Search :<input class="serachBox" ng-model="search.Item_x0020_Name" placeholder="Search By Product Name"/>	
							</span>
							<span ng-if="productDetails.length > 0">
							Sort By:
							<select ng-model="Sort.valueId" ng-options="value.id as value.name for value in Sort.values" ng-change="onChange(Sort.valueId)"></select>
							<i ng-show="!asc" class="fa fa-long-arrow-up black" ng-click="onChangeOrder(Sort.valueId)"></i>
							<i ng-show="asc" class="fa fa-long-arrow-down black" ng-click="onChangeOrder(Sort.valueId)"></i>
										</span>
								<a class="btn blue" style="height: 25px;" href="/SitePages/Redeem%20History.aspx" title="View Redeem History">
									View History
								</a>
					</div>
	                <div class="row">
						<div ng-if="productDetails.length > 0" class="col-sm-3" ng-repeat="pd in productDetails | filter:search:strict">
							<div class="redeemBox"  ng-disabled="pd.Balance < 1">
								<img ng-show="pd.Balance < 1" src="/SiteAssets/RnR/img/outOfStock.png" class="outOfStockImg" />	
								<img src="{{pd.Url[0]?pd.Url[0].EncodedAbsThumbnailUrl:'/SiteAssets/RnR/img/defaultImage.png'}}" class="redeemImg img-responsive" />
								<span class="codeSpan">{{pd.Item_x0020_Code?pd.Item_x0020_Code:''}}</span>
                                <h5 class="overflowdata">{{pd.Item_x0020_Name?pd.Item_x0020_Name:''}}</h5>	
                                <h4 class="height12">{{pd.Points?pd.Points:''}}Pts.</h4>
								<label>Quantity</label><br/>
								<div class="spin">
									<span class="quantity-down" ng-click="minus($index,pd.defaultQuantity)">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</span>
									<input type="number" min="0" value="0" ng-model="pd.defaultQuantity" readonly/>
									<span class="quantity-up" ng-click="add($index,pd.defaultQuantity)">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</span>
								</div>
								<br/>
								<input ng-show="pd.defaultQuantity > 0" ng-disabled="pd.defaultQuantity < 1" class="inputQuantity" type="button" ng-click="RedeemProduct(pd)" value="Redeem" />
								<input ng-show="pd.defaultQuantity < 1" ng-disabled="pd.defaultQuantity < 1" class="inputDisableQuantity" type="button" ng-click="RedeemProduct(pd)" value="Redeem" />
							</div>
						</div>	
						<div class="col-sm-6" ng-if="productDetails.length <= 0">
							<span style="margin-left:90px;">No Products Available for Redeemption...!</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
</div>
