.appmodel{
margin-top: -30px;
}
.alignMedal{
	margin-left: -35px;
	margin-top: -4px; 
	color: rgba(47, 126, 236, 0.98)
}
.heightMedal{
	height: 50px;
}
.alignTop{
	margin-top: -17px;
	margin-left: -35px;
}
.height12{
	height:12px;
}
.overflowdata{
	height:14px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
.inputQuantity{
	margin-top: 5px !important;
	border-radius: 0px !important;
    background: #2B87D4 !important;
    color: #fff !important;
    border: none !important;
    padding: 7px 15px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-left: 0px;
    transition: 0.3s all ease-out;
}
.floatright{
	float:right;
}
.dropdownalign{
	margin-left: 90px;
}
.redeemBox .codeSpan{
      opacity: 1;
 position: absolute;
    top: 13px;
    left: 27px;
    background: #e67a7a;
    font-size: 11px;
    padding: 3px 4px;
    color: #fff;
    border-radius: 2px;
}
.codeSpan1{
    opacity: 0.2;
 position: absolute;
    top: 13px;
    left: 27px;
    background: #e67a7a;
    font-size: 11px;
    padding: 3px 4px;
    color: #fff;
    border-radius: 2px;
}
.redeemBox h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: -2px;
    letter-spacing: 0px;
    color: #2B87D4;
    position: absolute;
    top: 16px;
    right: 22px;
}
.redeemBox {
	max-height: 250px !important;
    min-height: 250px !important;
 margin-bottom:10px;
}
.redeemBox img {
    height: 95px;
    width: 90px;
    margin: 0 auto;
}
.redeemImg{
	height: 100px !important;
	 margin: 0 auto !important;
}
.spin span:first-child {
    border-radius: 0;
    font-weight: 900;
    border-radius: 4px 0 0 4px !important;
}
.spin span {
    border-radius: 0 4px 4px 0 !important;
}
.input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled], button[disabled][disabled] {
    border-color: #e1e1e1;
    color: #b1b1b1!important;
}
.inputDisableQuantity{
	margin-top: 5px !important;
}
@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
.spinner {
  display:inline-block;
  border-radius: 50px;
  border-style: solid;
  border-bottom-color: #3b5641;
  border-top-color: #67b3a9;
  border-left-color: #df7950;
  border-right-color: #decb3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
  animation: rotate360 1s linear infinite;
  -webkit-animation: rotate360 1s linear infinite;

  border-width: 4px;
  width: 24px;
  height: 24px;
}
.btn{
    float: right !important;
        padding: 0px 12px !important;
        margin-top: 2px !important;
    height: 23px !important;
}
.serachBox{
    width:200px;
}
.outOfStockImg{
    z-index:2 !important;
}
.badge {
        background: #f3565d !important;
    }
.badge.badge-success {
    background-color: #45b6af !important;
}