.alignMedal{
	margin-left: -35px;
	margin-top: -4px; 
	color: rgba(47, 126, 236, 0.98)
}
.heightMedal{
	height: 50px;
}
.alignTop{
	margin-top: -28px;
	margin-left: -35px;
}
.height12{
	height:12px;
}
.overflowdata{
	height:14px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
.inputQuantity{
	margin-top: 5px;
}
.floatright{
	float:right;
}
.dropdownalign{
	margin-left: 450px;
}
.redeemBox .codeSpan{
 position: absolute;
    top: 13px;
    left: 27px;
    background: #e67a7a;
    font-size: 11px;
    padding: 3px 4px;
    color: #fff;
    border-radius: 2px;
}
.redeemBox h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: -2px;
    letter-spacing: 0px;
    color: #2B87D4;
    position: absolute;
    top: 16px;
    right: 22px;
}
.redeemBox {
	max-height: 250px !important;
    min-height: 250px !important;
 margin-bottom:10px;
}
.redeemBox img {
    height: 95px;
    margin: 0 auto;
}
.redeemImg{
	height: 100px !important;
	 margin: 0 auto !important;
}