<!--Third Party-->
<script src="/SiteAssets/RnR/angular.js"></script>
<link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeem%20Approval/css/bootstrap.min.css">
<link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeem%20Approval/css/style.css">
<!-- <link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeem%20Approval/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/SiteAssets/RnR/Stock/Redeem_Approval/css/font-awesome.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!--Application-->
<!-- <script src="/sites/test/SiteAssets/spcrud.js"></script> -->
<script src="/SiteAssets/RnR/Redeem/Redeem%20Approval/redeemApproval.js"></script>
<script src="/SiteAssets/RnR/spcrud.js"></script>
<link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeem%20Approval/redeemApproval.css">
<!--Main-->
<div ng-app="redeemApprovalApp" style="margin-top: -30px;">
       <div ng-controller="redeemApprovalCtl">
           <div class="spinner" ng-hide="loaded"></div>
        <span ng-hide="loaded">				Loading.....			</span>
        <div class="row" ng-show="loaded">
            <div class="col-md-12">
                <div id="pendingTable" class="tab-content appraisalTabsContent" ng-if="gridItemsPending.length != 0">
                    <h2>Items Pending for Approval</h2>
                    <table class="table StatusTable" style="margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th ng-click="orderByField='Emp_x0020_ID.Employee_x0020_ID'; reverseSort = !reverseSort">Employee Id<span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Emp_x0020_ID.First_x0020_Name'; reverseSort = !reverseSort">Employee Name<span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Item_x0020_Code.Item_x0020_Code'; reverseSort = !reverseSort">Product Code <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Item_x0020_Code.Item_x0020_Name'; reverseSort = !reverseSort">Product Name <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th class="centre1" ng-click="orderByField='Item_x0020_Code.Points'; reverseSort = !reverseSort">Points <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th class="centre1" ng-click="orderByField='RedeemQuantity'; reverseSort = !reverseSort">Quantity <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th class="centre1">Approve</th>
                                <th class="centre1">Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in gridItemsPending | orderBy:'-Modified'  | orderBy:orderByField:reverseSort" ng-if="gridItemsPending.length != 0">
                                <td>
                                    <span class="centre">{{item.Emp_x0020_ID.Employee_x0020_ID}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Emp_x0020_ID.First_x0020_Name}} </span><span class="centre">{{item.Emp_x0020_ID.Last_x0020_Name}} </span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Item_x0020_Code.Item_x0020_Code}}</span>
                                </td>
                                <td>
                                    <span>{{item.Item_x0020_Code.Item_x0020_Name}}</span>
                                </td>
                                <td class="centre1">
                                    <span >{{item.Item_x0020_Code.Points}}</span>
                                </td>
                                <td class="centre1">
                                    <span >{{item.RedeemQuantity}}</span>
                                </td>
                                <td class="centre1">
                                    <i class="fa fa-check colorApprove" style="color:green" aria-hidden="true" ng-click="updateApproval(item,1)"></i>
                                </td>
                                <td class="centre1">
                                    <i class="fa fa-times colorReject" style="color:red" aria-hidden="true" ng-click="updateApproval(item,2)"></i>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
                <br/>
                <br/>
                <div id="historyTable" class="tab-content appraisalTabsContent" ng-if="gridItemsApproved.length != 0">
                    <h2>Approval History</h2>
                    <table class="table StatusTable" style="margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th ng-click="orderByField='Emp_x0020_ID.Employee_x0020_ID'; reverseSort = !reverseSort">Employee Id<span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Emp_x0020_ID.First_x0020_Name'; reverseSort = !reverseSort">Employee Name<span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Item_x0020_Code.Item_x0020_Code'; reverseSort = !reverseSort">Product Code <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Item_x0020_Code.Item_x0020_Name'; reverseSort = !reverseSort">Product Name <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Item_x0020_Code.Points'; reverseSort = !reverseSort">Points <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='RedeemQuantity'; reverseSort = !reverseSort">Quantity <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Status'; reverseSort = !reverseSort" style="text-align: center;">Status <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Redemption_x0020_Approved_x0020_.Title'; reverseSort = !reverseSort">Approved By <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                                <th ng-click="orderByField='Redemption_x0020_Approved_x0020_0'; reverseSort = !reverseSort">Approved Date <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in gridItemsApproved | orderBy:'-Modified'  | orderBy:orderByField:reverseSort" ng-if="gridItemsApproved.length != 0">
                                 <td>
                                    <span class="centre">{{item.Emp_x0020_ID.Employee_x0020_ID}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Emp_x0020_ID.First_x0020_Name}} </span><span class="centre">{{item.Emp_x0020_ID.Last_x0020_Name}} </span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Item_x0020_Code.Item_x0020_Code}}</span>
                                </td>
                                <td>
                                    <span>{{item.Item_x0020_Code.Item_x0020_Name}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Item_x0020_Code.Points}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.RedeemQuantity}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Status}}</span>
                                </td>
                                <td>
                                    <span class="centre">{{item.Redemption_x0020_Approved_x0020_.Title}}</span>
                                </td>
                                <td>
                                    <span class="centre" ng-bind="item.Redemption_x0020_Approved_x0020_0 | date:'dd/MM/yyyy'"></span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <modal visible="showModal">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">You Are Trying To Reject:</h3>
                </div>
                <div class="modal-body">
                    <div>Product Name: {{item.Item_x0020_Code.Item_x0020_Name}}</div>
                    <div>Please specify the reason for rejection:</div>
                    <textarea rows="4" cols="50" ng-model="item.Reject_x0020_Comment"></textarea>
                </div>
                <button class="btn btn-primary" type="button" ng-click="RejectFunction(item)">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </modal>
        </div>
    </div>
</div>