.centre1 {
    text-align: center !important;
}

/*.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
}*/

hr {
    background-color: #000000;
    border-width: 0;
    color: #000000;
    height: 2px;
    line-height: 0;
    text-align: left;
    width: 100%;
}