<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">		
<script src="/SiteAssets/RnR/angular.js"></script>
<script src="/SiteAssets/RnR/spcrud.js"></script>
<link rel="stylesheet" href="/SiteAssets/RnR/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/SiteAssets/RnR/css/style.css"></link>
<link rel="stylesheet" href="/SiteAssets/RnR/Redeem/Redeem%20History/RedeemHistory.css"></link>
<script src="/SiteAssets/RnR/Redeem/Redeem%20History/RedeemHistory.js"></script>
<!--Application-->

<div ng-app="redeemHistoryApp" class="topModal">

    <div ng-controller="redeemHistoryCtl">
			<div class="spinner" ng-hide="loaded" ></div>
			<span ng-hide="loaded">
				Loading.....
			</span>
		<div ng-cloak="" ng-show="loaded">
    <div class="row" >
      <div>
    
    </div>
        <h4 class="masterHeading">Redeemption Pending Details:</h4> 
		<!--<span class="searchbutton">Search :<input ng-model="queryhistory[queryhistoryBy]" />	</span>-->
            <a class="btn blue searchinput" href="/SitePages/Redemption.aspx" title="View Redeem">
		   View Redeem
		</a>
    </div>
        <div class="col-md-12" >
            <table ng-if="redeemPendinglistemp.length > 0" class="table StatusTable" style="margin-bottom:0px;">
				<thead>
					<tr>
                        <th>Image</th>
						<th><a class="fontcolora" href="" ng-click="orderByField='Code'; reverseSort = !reverseSort">Code</a></th>
                        <th><a class="fontcolora"  href="" ng-click="orderByField='Name'; reverseSort = !reverseSort">Name</a></th>
						<th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Points'; reverseSort = !reverseSort">Points</a></th>
						<th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Quantity'; reverseSort = !reverseSort">Quantity</a></th>	
                        <th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Redeem_Points'; reverseSort = !reverseSort">Redeem_Points</a></th>																
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
                    <tr ng-repeat="item in redeemPendinglistemp | orderBy:'-Modified' |orderBy:orderByField:reverseSort">
                        <td><img src="{{item.Url[0]?item.Url[0].EncodedAbsThumbnailUrl:'/SiteAssets/RnR/img/defaultImage.png'}}" class="redeemImg img-table" /></td>
					    <td>{{item.Item_x0020_Code.Item_x0020_Code}}</td>
                        <td>{{item.Item_x0020_Code.Item_x0020_Name}}</td>	
					    <td class="centre1">{{item.Item_x0020_Code.Points}}</td>
						<td class="centre1">{{item.RedeemQuantity}}</td>	
                        <td class="centre1">{{item.Item_x0020_Code.Points * item.RedeemQuantity}}</td>	
                        <td class="pendingStatus"><b>{{item.Status}}</b></td>	
					</tr>
                </tbody>
			</table>
			<div ng-if="redeemPendinglistemp.length <= 0">
				No records found...!
			</div>
		</div>
 <h4 class="masterHeading2">Redeemption Approved/Rejected Details:</h4>
     
           <div class="col-md-12" >
            <table ng-if="redeemApprovedlistemp.length > 0" class="table StatusTable" style="margin-bottom:0px;">
				<thead>
					<tr>
                        <th>Image</th>
						<th><a class="fontcolora"  href="" ng-click="orderByField='Code'; reverseSort = !reverseSort">Code</a></th>
                        <th><a class="fontcolora"  href="" ng-click="orderByField='Name'; reverseSort = !reverseSort">Name</a></th>
						<th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Points'; reverseSort = !reverseSort">Points</a></th>
						<th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Quantity'; reverseSort = !reverseSort">Quantity</a></th>	
                        <th class="centre1"><a class="fontcolora"  href="" ng-click="orderByField='Redeem_Points'; reverseSort = !reverseSort">Redeem_Points</a></th>																																	
						<th><a class="fontcolora"  href="" ng-click="orderByField='Status'; reverseSort = !reverseSort">Status</a></th>
					</tr>
				</thead>
				<tbody>
                    <tr ng-repeat="item in redeemApprovedlistemp | orderBy:'-Modified' |orderBy:orderByField:reverseSort">
                        <td><img src="{{item.Url[0]?item.Url[0].EncodedAbsThumbnailUrl:'/SiteAssets/RnR/img/defaultImage.png'}}" class="redeemImg img-table" /></td>
					    <td>{{item.Item_x0020_Code.Item_x0020_Code}}</td>
                        <td>{{item.Item_x0020_Code.Item_x0020_Name}}</td>	
					    <td class="centre1">{{item.Item_x0020_Code.Points}}</td>
						<td class="centre1">{{item.RedeemQuantity}}</td>	
                        <td class="centre1">{{item.Item_x0020_Code.Points * item.RedeemQuantity}}</td>	
                        <td ng-if="item.Status==='Approved'" class="approvedStatus"><b>{{item.Status}}</b></td>
                        <td ng-if="item.Status==='Rejected'" class="rejectedStatus"><b>{{item.Status}}</b></td>		
					</tr>
                </tbody>
			</table>
			<div ng-if="redeemApprovedlistemp.length <= 0">
				No records found...!
			</div>
		</div>
    </div>
</div>
</div>