<!--Third Party-->
<script src="/SiteAssets/HRDashboard/angular.js"></script>

<!--Application-->
<script src="/SiteAssets/HRDashboard/spcrud.js"></script>
<link rel="stylesheet" href="/SiteAssets/HRDashboard/EmployeeList/employeeList.css"></link>
<script src="/SiteAssets/HRDashboard/EmployeeList/employeeList.js"></script>

<div ng-app="employeeListApp" class="appmodel">
    <div ng-controller="employeeListCtl">
        <div class="spinner" ng-hide="loaded"></div>
        <span ng-hide="loaded">
				Loading.....
			</span>
        <div ng-cloak="" ng-show="loaded">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="masterHeading">Resigned Employee List</h4>
                    <div class="scrollTable" style="margin-top: 25px;">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead>
                                <tr>
                                    <th>Emp Id</th>
                                    <th>Name</th>
                                    <th>Email Id</th>
                                    <th>Contact No</th>
                                    <th>Resignation Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in gridItemsResigned">
                                    <td>{{item.Employee_x0020_ID?item.Employee_x0020_ID:'N/A'}}</td>
                                    <td>{{item.Account_x0020_Holder_x0020_Name?item.Account_x0020_Holder_x0020_Name:'N/A'}}</td>
                                    <td>{{item.Email_x0020_ID_x0020_Official?item.Email_x0020_ID_x0020_Official:'N/A'}}</td>
                                    <td>{{item.Personal_x0020_Contact_x0020_Num?item.Personal_x0020_Contact_x0020_Num:'N/A'}}</td>
                                    <!-- <td ng-bind="item.Redemption_x0020_Approved_x0020_0 | date:'dd/MM/yyyy'"></td> -->
                                    <!-- <td>{{item.Resignation_x0020_Date?item.Resignation_x0020_Date:'N/A'}}</td> -->
                                    <td>{{convertToDate(item.Resignation_x0020_Date) | date:'dd/MM/yyyy'}}</td>
                                    <!--<td><button class="viewMoreBtn" ng-click="viewMoreButton(item.Employee_x0020_ID)"><i class="fa fa-external-link" aria-hidden="true"></i> View More</button></td>-->
                                    <td><a class="viewMoreBtn" href="/SitePages/Employee%20Dashboard.aspx" ng-click="viewMoreButton(item.Employee_x0020_ID,item.Account_x0020_Holder_x0020_Name,item.Resignation_x0020_Date)" title="View Redeem">View More</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>