.row-padding {
    padding: 10px;
}

.btn-align {
    float: right;
}
.icon-color {
    color :#3D79A2;
}
.week-header {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: -1px;
    /*//font-family: 'Segoe UI'!important;*/
}
.status-header{
    font-size: 18px;
    font-weight: 400;
    color: #207BCA!important;
}
.charsLeft{
    margin: 0px 0px -5px;
    background-color: #F8F3C9;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px dotted #ababab;
    border-top: 1px dotted #ababab;
}
.fullWidth{
    width: 100%;
}
.blueback{
    background-color:rgba(42, 136, 214, 0.91) !important;
    color: white;
}
.scrollpaging {
    max-height: 90px;
    min-width: 1130px !important;
    max-width: 1130px !important;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: -10px;
}

.scrollTable {
    min-height: 340px !important;
    max-height: 340px !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.table{
    font-size: 12px !important;
    padding: 4px !important;
    padding-bottom: 3px !important;
}
.ms-WPBody td{
    padding-bottom: 3px !important;
}
.table>thead>tr>th {
    padding: 4px !important;
}


