<script src="/SiteAssets/RnR/Stocks/Stock%20mangement/js/bootstrap.min.js"></script>
<script src="/SiteAssets/RnR/Stocks/Stock%20mangement/js/bootstrap-datepicker.min.js"></script>

<script src="/SiteAssets/RnR/angular.js"></script>


<link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
<link rel="stylesheet" href="/SiteAssets/RnR/css/bootstrap.min.css">
<link rel="stylesheet" href="/SiteAssets/RnR/css/style.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/SiteAssets/RnR/Stocks/Stock%20mangement/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=material+icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  -->
<script src="/SiteAssets/RnR/spcrud.js"></script>
<script src="/SiteAssets/RnR/Stocks/Stock%20mangement/stockMangement.js"></script>
<div ng-app="stockManagemenApp">
	<div ng-controller="stockManagementCtl">
		<section class="topSection">
			<div class="container">
				<div class="mainBox">
					<div class="row">

						<div class="col-md-12">
							<h4 class="masterHeading">Product Master</h4>
							<div class="row ItemRow">
								<div class="col-md-3" ng-model="ItemForm">
									<div class="formBox">
										<div class="form-group">
											<label class="pointFormLabel">Product Name</label>
											<span style="color:red">*</span>
											<input type="text" class="form-control pointFormText" name="Name" ng-model="Item.Item_x0020_Name" maxlength="50" required
											/>
											<!-- <h4>{{pd.Name.$valid}}Enter Item Name</h4> -->
											<!-- <span ng-show="!pd.Name.length">Please enter Item Name</span> -->
										</div>
										<div class="form-group">
											<label class="pointFormLabel">Description</label>
											<input type="text" class="form-control pointFormText" ng-model="Item.Item_x0020_Description" />
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="pointFormLabel">Points</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.Points" min="0" maxlength="4" max="9999" required />
													<!-- <span class="error" ng-show="pd.Points.$error.required">Required!</span> -->
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="pointFormLabel">Qty.</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.Quantity" min="0" max="9999"  ng-change="Item.TotalQuantity = Item.Quantity + Item.NewQuantity" maxlength="4" required ng-disabled="isDisabledQuantity"/>
												</div>
											</div>
											<div class="col-md-12" ng-show="IsVisible">
												<div class="form-group">
													<label class="pointFormLabel">New Qty.</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.NewQuantity"  ng-change="Item.TotalQuantity = Item.Quantity + Item.NewQuantity" ng-blur="Validator(Item)" max="9999" required  maxlength="4"/>
												</div>
											</div>
											<div class="col-md-12" ng-show="IsVisible">
												<div class="form-group">
													<label class="pointFormLabel">Total Qty.</label>
													<input type="number" class="form-control pointFormText" ng-model="Item.TotalQuantity" ng-disabled="isTotalDisabledQuantity"  />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="pointFormLabel">Product Picture</label>
													<input type="file" class="itemPicture" fileread="Item.Image" />
													<!-- <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> -->
													<!-- <input type="file" class="itemPicture" ng-change="uploadPhoto($event)"  fileread="Item.Image"/><span>Upload</span> -->
												</div>
											</div>
										</div>
										<input type="button" class="formSubmitBtn" id="AddButton" ng-click="AddProduct(Item)" value="Add" ng-show="AddButton" />
										<input type="button" id="SaveButton" class="formSubmitBtn" ng-click="UpdateItem(Item)" value="Save" ng-show="SaveButton"/>
										<input type="button" class="formSubmitBtn" ng-click="claer()" value="Clear" ng-show="ClearButton" />
										<input type="button" class="formSubmitBtn" ng-click="claerEdit()" value="Clear" ng-show="ClearEditButton"/>
									</div>
								</div>
								<div class="col-md-9">
									<ul class="nav nav-tabs pointTabs">
										<li class="active"><a href="#tab1">Product Master</a></li>
										<li><a href="#tab2">Products For Approval</a></li>
									</ul>
									<div class="tab-content appraisalTabsContent">
										<div id="tab1" class="tab-pane fade in active" style="overflow-y: scroll; height:300px;">
											<table class="table itemTable" style="margin-bottom:15px;">
												<thead>
													<tr>
														<th>Image</th>
														<th>Product Code</th>
														<th>Product Name</th>
														<th>Points</th>
														<th>Quantity</th>
														<th>Items Redemend</th>
														<th>Balance</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="Item in ItemDetails | orderBy:'-Modified'">
														<td>
															<img src="{{Item.Url[0]?Item.Url[0].EncodedAbsThumbnailUrl:'/SiteAssets/RnR/img/defaultImage.png'}}"
															 class="redeemImg img-responsive" style="height: 35px ; width:35px" />
														</td>
														<td>{{Item.Item_x0020_Code}}</td>
														<td>{{Item.Item_x0020_Name}}</td>
														<td>{{Item.Points}}</td>
														<td>{{Item.Quantity}}</td>
														<td>{{Item.Items_x0020_Redemend}}</td>
														<td>{{Item.Balance | number}}</td>
														<!-- <td><button type="button" class="glyphicon glyphicon-edit" ng-click="OnEdit(Item)"> </button></td>  -->
														<td><span><i style="color:green" title="Edit" class="glyphicon glyphicon-edit" ng-click="OnEdit(Item)"></i></span>
															<span><i style="color:red ;margin-left: 13px" title="Delete" class="glyphicon glyphicon-remove" ng-click="OnDelete(Item)"></i></span>		
														</td>
														
														<!-- <td><i class="icon-edit" ng-click="OnEdit(Item)"></i></td> -->
													</tr>
												</tbody>
											</table>
										</div>
										<div id="tab2" class="tab-pane fade in" style="overflow-y: scroll; height:300px;">
											<table class="table itemTable" style="margin-bottom:15px;">
												<thead>
													<tr>
														<th>Image</th>
														<th>Product Code</th>
														<th>Product Name</th>
														<th>Points</th>
														<th>Quantity</th>
														<th>Updated Quantity</th>
														<th>Status</th>
														<th>Rejection Comment</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="ApprovalItem in ApprovalItemDetails | orderBy:'-Modified'">
														<td>
															<img src="{{Item.Url[0]?Item.Url[0].EncodedAbsThumbnailUrl:'/SiteAssets/RnR/img/defaultImage.png'}}"
															 class="redeemImg img-responsive" style="height: 35px;width:35px" />
														</td>
														<td>{{ApprovalItem.Item_x0020_Code.Item_x0020_Code}}</td>
														<td>{{ApprovalItem.Item_x0020_Name}}</td>
														<td>{{ApprovalItem.Points}}</td>
														<td>{{ApprovalItem.Quantity}}</td>
														<td>{{ApprovalItem.Updated_x0020_Quantity}}</td>
														<td>{{ApprovalItem.Status}}</td>
														<td>{{ApprovalItem.Reject_x0020_Comment}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>