<script src="http://espld205/SiteAssets/RnR/Stock/Stock Management/js/bootstrap.min.js"></script>
<script src="http://espld205/SiteAssets/RnR/Stock/Stock Management/js/bootstrap-datepicker.min.js"></script>

<script src="http://espld205/SiteAssets/RnR/Stock/Stock Management/angular.js"></script>


<link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
<link rel="stylesheet" href="http://espld205/SiteAssets/RnR/Stock/Stock Management/css/bootstrap.min.css">
<link rel="stylesheet" href="http://espld205/SiteAssets/RnR/Stock/Stock Management/css/style.css">
<link rel="stylesheet" href="http://espld205/SiteAssets/RnR/Stock/Stock Management/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/icon?family=material+icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  -->

<script src="http://espld205/SiteAssets/RnR/Stock/Stock Management/spcrud.js"></script>
<script src="http://espld205/SiteAssets/RnR/Stock/Stock Management/stockmanagement.js"></script>
<div ng-app="stockManagemenApp">
	<div ng-controller="stockManagementCtl">
		<section class="topSection">
			<div class="container">
				<div class="mainBox">
					<div class="row">

						<div class="col-md-12">
							<h4 class="masterHeading">Product Master:</h4>
							<div class="row ItemRow">
								<div class="col-md-3" ng-model="ItemForm">
									<div class="formBox">
										<div class="form-group">
											<label class="pointFormLabel">Item Name</label>
											<span style="color:red">*</span>
											<input type="text" class="form-control pointFormText" name="Name" ng-model="Item.Item_x0020_Name" maxlength="50" required
											/>
											<!-- <h4>{{pd.Name.$valid}}Enter Item Name</h4> -->
											<!-- <span ng-show="!pd.Name.length">Please enter Item Name</span> -->
										</div>
										<div class="form-group">
											<label class="pointFormLabel">Description</label>
											<input type="text" class="form-control pointFormText" ng-model="Item.Item_x0020_Description" />
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="pointFormLabel" style="margin-left: 12px;">Item Points</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.Points" min="0" max="9999" required required="" style="width: 110px;margin-left: 12px;"/>
													<!-- <span class="error" ng-show="pd.Points.$error.required">Required!</span> -->
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="pointFormLabel">Qty.</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.Quantity" min="0" max="9999" required ng-disabled="isDisabledQuantity" style="width: 110px;"/>
												</div>
											</div>
											<div class="col-md-6" ng-show="IsVisible">
												<div class="form-group">
													<label class="pointFormLabel">New Qty.</label>
													<span style="color:red">*</span>
													<input type="number" class="form-control pointFormText" ng-model="Item.NewQuantity" min="0" ng-change="TotalQuantity()" max="9999"
													 required />
												</div>
											</div>
											<div class="col-md-6" ng-show="IsVisible">
												<div class="form-group">
													<label class="pointFormLabel">Total Qty.</label>
													<input type="number" class="form-control pointFormText" ng-model="Item.TotalQuantity = Item.Quantity + Item.NewQuantity"
													/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="pointFormLabel">Item Picture</label>
													<input type="file" class="itemPicture" fileread="Item.Image" />
													<!-- <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> -->
													<!-- <input type="file" class="itemPicture" ng-change="uploadPhoto($event)"  fileread="Item.Image"/><span>Upload</span> -->
												</div>
											</div>
										</div>
										<input type="button" class="formSubmitBtn" id="AddButton" ng-click="AddProduct(Item)" value="Add" ng-show="AddButton" />
										<input type="button" id="SaveButton" class="formSubmitBtn" ng-click="UpdateItem(Item)" value="Save" ng-show="SaveButton"
										/>
										<input type="button" class="formSubmitBtn" ng-click="claer()" value="Clear" />
									</div>
								</div>
								<div class="col-md-9">
									<table class="table itemTable" style="margin-bottom:15px;">
										<thead>
											<tr>
												<th>Image</th>
												<th>Item Code</th>
												<th>Item Name</th>
												<th>Item Points</th>
												<th>Quantity</th>
												<th>Items Redemend</th>
												<th>Balance</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="Item in ItemDetails">
												<td>
													<img src="{{Item.Url[0]?Item.Url[0].EncodedAbsThumbnailUrl:'http://espld205/SiteAssets/RnR/Redeem/img/defaultImage.png'}}"
													 class="redeemImg img-responsive" style="height: 35px; width:35px" />
												</td>
												<td>{{Item.Item_x0020_Code}}</td>
												<td>{{Item.Item_x0020_Name}}</td>
												<td>{{Item.Points}}</td>
												<td>{{Item.Quantity}}</td>
												<td>{{Item.Items_x0020_Redemend}}</td>
												<td>{{Item.Balance | number}}</td>
												 <td><button type="button" class="glyphicon glyphicon-edit" ng-click="OnEdit(Item)"> </button></td> 
												<!-- <td><input type="button"  ng-click="OnEdit(Item)"><i class="icon-edit" ng-click="OnEdit(Item)"></i></td> -->
												<!-- <td><i class="icon-edit" ng-click="OnEdit(Item)"></i></td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>


						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
</div>